body{
    background-color: #E2E2E2;
}

.image-container img {
    border-radius: 50px;
    display: block;
    width: 1200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}


.overlay-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    color: black;
    font-size: 128px;
}